* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

h1 {
	margin-top: 20px;
	font-size: 14px;
	font-weight: 600;
	color: rgb(2, 2, 74);
}

hr {
	width: 40px;
	border: 1px solid skyblue;
	margin-top: -10px;
}

body {
	font-family: 'Poppins', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: aliceblue;
	gap: 20px;
}

.box {
	padding: 10px;
	width: 60%;
	height: 40%;
	display: flex;
	gap: 5px;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	background-color: white;
}

.box h2{
	color: rgb(2, 2, 74);
	font-size: 8px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 3px;
}

.box h5{
	font-size: 8px;
	font-weight: 300;
}

.box p {
	width: 80%;
	font-size: 6px;
	line-height: 10px;
	font-weight: 400;
	color: rgb(153, 153, 235);
}

.box .icons {
	display: flex;
	gap: 10px;
	font-size: 10px;
	color: skyblue;
}

.box button {
	border: 1px solid skyblue;
	border-right: 1px solid rgb(33, 183, 243);
	border-bottom: 1px solid rgb(33, 183, 243);
	border-radius: 10px;
	font-size: 6px;
	padding: 1px 6px;
	color: skyblue;
}